.loginbtnholder {
  margin: 1rem 0;
}
.loginbuttonholder,
.loginbuttonholderwhatsapp {
  /* background-color: #ff8800; */
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  /* height: 1rem; */
}
.loginbuttonholdermedium {
  /* background-color: #ff8800; */
  width: 17rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #ffffff;
}
.loginbuttonholderlong {
  background-color: #ffffff;
  width: 20rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  /* border: 1px solid black; */
}
.loginbuttonholder:hover,
.loginbuttonholdermedium:hover,
.loginbuttonholderlong:hover {
  box-shadow: 1px 1px 4px #ff8800;
}
.buttonholder {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoimageholder,.logoimageholderwhats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 65px;
  padding-top: 0.1rem;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
  border: 1px solid black;
}

.logoimageholder > img,.logoimageholderwhats > img {
  object-fit: cover;
  /* width: 2rem;*/
  padding-left: 0.4rem;
  border-radius: 10px;
  height: 80%;
  width: 56%;
}

.buttonholder::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -0.9rem;
  height: 1.26rem;
  width: 1rem;
  background-color: #ff8800;
  border-radius: 0 0 20px 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.buttonholder::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -0.9rem;
  height: 1.26rem;
  width: 1rem;
  background-color: #ff8800;
  border-radius: 0 20px 0 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.button {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  border: 1px solid #000000;
  background-color: #ff8800;
}

.whatsappbuttonholder {
  position: fixed;
  right: 20px;
  bottom: 2rem;
  z-index: 10000;
}

@media screen and (max-width: 768px) {
  .whatsappbuttonholder {
    right: 5px;
  }
  .loginbuttonholderwhatsapp{
    display: flex;
  }
  .loginbuttonholderwhatsapp > .buttonholder {
    display: none;
  }
  .logoimageholderwhats {
    border-radius: 10px;
    border: 1px solid black;
  }
   .logoimageholderwhats > img {
    padding-left: 0rem;
    border-radius: 10px;
    height: 90%;
    width: 66%;
  }
}
