
.global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.primary-color-background {
  color: #3e3d3d;
  background: #ffffff;
}
.primary-color {
  color: #3e3d3d;
}
.secondary-color-background {
  color: #ff8800;
  background: #ffffff;
}
.secondary-color-background-invert {
  background-color: #ff8800;
  color: #ffffff;
}
.secondary-color {
  color: #ff8800;
}
.tertiary-color-background {
  background: linear-gradient(180deg, rgba(196,220,231,1) 78%, rgba(255,255,255,1) 100%);
}
.section-margin {
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}
.section-margin-top {
  margin-top: 2rem;
}
.section-margin-bottom {
  margin-bottom: 2rem;
}
.item-margin {
  margin: 0.5rem 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #4bb86c, #13be03);
}
form .button input:hover {
  background: linear-gradient(-135deg, #0d2b0a, #245c35);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 90vh;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.check-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.check-box-items {
  border: #71b7e6 solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 3px;
}
.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 584px) {
  .formContainer {
    width: 95%;
    height: 100vw;
    overflow-x: scroll;
  }
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(240, 248, 255, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.message-notification-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.message-text {
  color: rgb(204, 93, 93);
  font-size: 20px;
  font-weight: 500;
}

.userContainer {
  display: flex;
  position: fixed;
  top: 70px;
  right: 10px;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;

  align-items: flex-end;
}
.userImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  right: 5px;
}
.userImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.userDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin: auto;
  right: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  overflow-x: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
