.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.logo {
  margin-top: 50px;
}
.buttonContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.navButton {
  color: #fff;
  background-color: #ff8800;
  padding: 0.3rem 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid black;
  margin-right: 1rem;
  padding: 0.1rem 3rem;
  cursor: pointer;
}
.homeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding-right: 10rem;
}
.mediaContainer {
  position: relative;
  padding: 0;
  width: fit-content;
}
.mediaContainer img {
  z-index: 1000;
}
.mediaContainer .gif {
  position: absolute;
  width: 230px;
  height: 466px;
  border-radius: 10px;
  left: .6rem;
  top: .8rem;
  z-index: 0;
}
.textContainer2 {
  width: 50vw;
  text-align: center;
}
.textContainer2 > h1 {
  font-size: 3.4rem;
  font-weight: 500;
  margin-bottom: 0;
}
.textContainer3 > h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.textContainer3 {
  text-align: center;
}
.textContainer2 > h1 > span {
  font-size: 3.2rem;
  font-weight: 600;
}
.benefitContainer {
  display: flex;
  flex-direction: column;
}
.benefitContainer > h1 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}
.benefitList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.orangelistimageholder {
  margin-top: 0.5rem;
}
.benefitImage {
  width: 50px;
  height: 40px;
}
.benefitTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
  width: 100%;
}
.benefitTextContainer > h2 {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
  font-weight: 600;
}
.benefitTextContainer > p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}
.wholelandingpageholder {
  width: 100%;
  height: 80.5vh;
}
.verticalTextContainer {
  position: absolute;
  font-size: 1.9rem;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 600;
  width: 100vw;
  top: 9%;
}
.verticalTextContainer > div {
  transform: translateX(4rem);
}
.verticalTextContainer h1 {
  transform: rotate(90deg);
  z-index: 10;
}

.fadedcontainer {
  position: absolute;
  width: 100vw;
  height: 104vh;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.fadedimgcontainer {
  width: 90vw;
  height: 104vh;
}
.fadedBackground {
  object-fit: stretch;
  height: 100%;
  width: 100%;
}

/**********changing**************/
.globalcontainer {
  overflow-x: hidden;
}
.videoplayerimg {
  z-index: 100;
}
.videoimageholder {
  padding: 0;
  width: fit-content;
  height: fit-content;
}
.navbuttons {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.navbuttons:hover {
  filter: drop-shadow(0.2px 0.2px 1px #000000);
}

.loginbuttonholder {
  background-color: #ff8800;
  width: 16rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.loginbuttonholder:hover {
  box-shadow: 1px 1px 4px black;
}
.logoimageholder {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.6rem;
  width: 100%;
  height: 100%;
  padding-top: 0.1rem;
  border: 1px solid #000000;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
}

.logoimageholder > img {
  object-fit: cover;
  width: 1.8rem;
  /* height: 2.3rem; */
  /* border-radius: 10px; */
}
.buttonholder {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}
.buttonholder::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -0.2px;
  margin-right: -0.9rem;
  height: 1.15rem;
  width: 1rem;
  background-color: #ff8800;
  border-radius: 0 0 20px 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.buttonholder::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: -0.2px;
  margin-right: -0.9rem;
  height: 1.15rem;
  width: 1rem;
  background-color: #ff8800;
  border-radius: 0 20px 0 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.button {
  height: 100%;
  width: 100%;
  background-color: #ff8800;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  border: 1px solid #000000;
  display: flex;
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}
.blastgif{
  height: 80vh;
  width: 80vw;
}

@media screen and (max-width: 1092px) {
  .buttonContainer {
    flex-direction: column;
  }
  .navButton {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wholelandingpageholder {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .loginbuttonholder:hover {
    box-shadow: 0px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .homeContainer {
    /* width: 100vw; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .buttonContainer {
    flex-direction: column;
    margin: 0;
  }
  .navButton {
    margin-top: 20px;
    width: 100%;
  }

  .textContainer {
    width: 90vw;
  }
  .textContainer > h1 {
    font-size: 2.5rem;
  }
  .textContainer > p {
    font-size: 1.5rem;
  }
  .textContainer2 {
    width: 90vw;
  }
  .textContainer2 > h1 {
    font-size: 2rem;
  }
  .textContainer3 > h1 {
    font-size: 2rem;
  }
  .benefitContainer > h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
  }
  .benefitList {
    width: 90vw;
  }
  .benefitTextContainer {
    width: 90vw;
  }
  .benefitTextContainer > h2 {
    font-size: 1.8rem;
  }
  .benefitTextContainer > p {
    font-size: 1rem;
  }
  .verticalTextContainer {
    display: none;
  }
  .fadedBackground {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .fadedcontainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .fadedBackground {
    width: 20vw;
    height: 100vh;
  }
  .videoimageholder{
    margin: 1rem 0;
  }
  .videoimageholder  > video{
    width: 95vw;
  }
  .blastgif{
    width: 95vw;
    height: auto;
    margin: 2rem auto;
  }
  .button {
    font-size: 1.3rem;
  }
  .buttonholder::after {
    margin-top: 0px;
  }
  .textContainer {
    align-self: center;
    padding-bottom: 4rem;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .textContainer > h1 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .textContainer > p {
    font-size: 1.6rem;
    width: 92%;
  }
  .textContainer2 > .heading,.textContainer2 span{
    font-size: 1.6rem;
  }
  .benefitContainer h1{
    width:92vw;
    margin: auto;
    font-size: 1.8rem;
  }
  .benefitTextContainer h2{
    font-size: 1.3rem;
    /* width: 85vw; */
  }
  .benefitTextContainer p{
    font-size: 1.1rem;
    /* width: 85vw; */
  }
  .mediaContainer{
    margin: 1rem 0;
  }
  .textContainer3 > h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0;
    width: 90vw;
  }
  .benefitList{
    width: 95vw;
    margin: auto;
  }
  .loginbuttonholder:hover {
    box-shadow: 0px 0px 0px 0px;
  }
}
