.section {
  height: 100vh;
  margin-right: 2rem;
}
.loginholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.logincontentholder {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.loadercontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 248, 255, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.heading {
  width: 100%;
  text-align: center;
  padding-left: 5rem;
  font-size: 2.5rem;
  font-weight: 1000;
}

.heading::after {
  content: " ";
  display: block;
  width: 80%;
  height: 1.5px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 1rem;
}
.headingSmall {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}
.container {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}
.formContainer::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  position: relative;
  margin-top: 1rem;
  color: #333;
  top: 2px;
  left: 20px;
}
.inputs {
  width: 28vw;
  height: 30px;
  background-color: white;
  font-size: 1.2rem;
  border: none;
  border-bottom: #3e3d3d 2px solid;
  margin: 1rem 0;
  color: #3e3d3d;
  padding-left: 2rem;
}
.checkbox {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #3e3d3d;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox:checked {
  background-color: #ff8800;
}
.checkboxLabel {
  font-size: 1.1rem;
  padding: 0 0.5rem;
  vertical-align: center;
  font-weight: 600;
}
.loginbuttonholder {
  background-color: #ff8800;
  width: 15rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  border-radius: 10px;
}
.logoimageholder {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0.1rem;
  border: 1px solid #000000;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
}

.logoimageholder > img {
  object-fit: cover;
  width: 2rem;
  height: 2.3rem;
  border-radius: 10px;
}
.buttonholder {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}
.buttonholder::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -0.2px;
  margin-right: -0.9rem;
  height: 1.15rem;
  width: 1rem;
  background-color: #ff8800;
  border-radius: 0 0 20px 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.buttonholder::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: -0.2px;
  margin-right: -0.9rem;
  height: 1.15rem;
  width: 1rem;
  background-color: #ff8800;
  border-radius: 0 20px 0 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.button {
  height: 100%;
  width: 100%;
  background-color: #ff8800;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  border: 1px solid #000000;
}
.passwordholder{
  display: flex;
  position: relative;
}

.passwordShowIcon {
  position: absolute;
  margin-top: 1rem;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
  right: .5rem;
}

@media screen and (max-width: 768px) {
  .section {
    height: auto;
    margin-right: 0;
    width: 100%;
    /* text-align: center; */
  }
  .logincontentholder {
    /* margin-top: 3rem; */
    width: 100vw;
  }
  .heading {
    font-size: 2rem;
    width: 100%;
  }
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .formContainer {
    width: 100%;
  }
  .inputs {
    width: 80vw;
  }
  .checkboxLabel {
    font-size: 1rem;
  }
  .logoimage {
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .loginholder {
    align-items: flex-start;
  }
  .logincontentholder{
    margin-top: 20%;
  }
  .headingSmall {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  .heading {
    padding-left: 0rem;
    font-size: 1.5rem;
  }
  .heading::after {
    width: 100%;
  }
  .checkbox {
    width: 1.2rem;
    height: 1.2rem;
  }
  .checkbox:checked {
    background-color: #ff8800;
  }
}
