.popcontainer {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popcontainerupdateform {
  position: absolute;
  width: 100%;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.pop {
  /* margin-top: 90%; */
  border-radius: 8px;
  background-color: aliceblue;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 10px;
}
.crossholder {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.pop > form {
  padding: 1rem 3rem;
}
.actualizarbtnholder {
  width: 100%;
  padding-left: 3rem;
}
.actualizarbtnholder input {
  padding: 0.2rem 0.8rem;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  background-color: #ff8800;
  transition: 0.2s ease-in-out;
  border: 0px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
.actualizarbtnholder input:hover {
  box-shadow: 1px 1px 4px black;
}

@media screen and (max-width: 768px) {
  .popcontainerupdateform {
    left: 0;
    height: 90vh;
    overflow-y: scroll;
    margin: auto;
    /* margin-left: 10%; */
  }
  .popcontainerupdateform::-webkit-scrollbar {
    display: none;
  }
  .pop {
    border-radius: 8px;
    width: 90%;
    margin: auto;
  }
  .pop > form {
    padding: 1rem 1rem;
    margin: auto;
    width: 100%;
  }
  .pop > form input {
    width: 100%;
  }
}
