.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.toptext > div {
  text-align: center;
}
.largetext {
  padding-top: 1rem;
  width: 100vw;
}
.largetext > h2 {
  padding-top: 2rem;
  width: 100vw;
  font-size: 2.3rem;
}
.smalltext {
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}
.smalltext > h2 {
  font-size: 1.1rem;
}

/************new*********************/
.formimageholder {
  display: flex;
  width: 100vw;
}
.formholder {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
  margin: 0.6rem 0;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.formholder label {
  font-weight: 600;
}
.singleinput {
  width: 38rem;
}
.double {
  display: flex;
  gap: 0.4rem;
}
.double > div {
  width: 50%;
}
.whatsapp {
  width: 43rem;
  display: flex;
  gap: 0.2rem;
  align-items: flex-end;
}
.countrycode {
  width: 5rem;
}
.number {
  width: 38rem;
}
.sliceimageholder {
  margin-top: 4rem;
  height: 20rem;
  width: 35%;
}
.sliceimageholder > img {
  height: 90%;
  object-fit: cover;
}

.bottomtextandnextbtn {
  display: flex;
}
.checkboxtext {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0 0;
}
.textholder {
  width: 60%;
  text-align: center;
}
.textholder > label {
  margin-left: 0.4rem;
}
.textholder > div {
  margin: 0.9rem 0;
}

.inputs {
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 15px;
  border: #ff8800 2px solid;
  color: #3e3d3d;
  padding: 1.1rem;
}
.inputselect {
  width: 100%;
  height: 36px;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 15px;
  border: #ff8800 2px solid;
  padding: 0.4rem 0;
  color: black;
}

.inputs2 {
  width: 70%;
  height: 30px;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 15px;
  border: #ff8800 2px solid;
  margin: 1rem 0;
  color: #3e3d3d;
  margin: 0 2px;
  padding: 18px 15px;
}
.checkbox {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #3e3d3d;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox:checked {
  background-color: #ff8800;
}
.checkboxLabel {
  font-size: 1rem;
  font-weight: 600;
  padding: 0 0.5rem;
}
.error {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: red;
}
.deletebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
}
.deletebtn > button {
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  border: 0px;
  background-color: red;
  transition: 0.2s ease-in-out;
  border-radius: 4px;
}
.deletebtn > button:hover {
  box-shadow: 1px 1px 4px black;
}
.passwordholder {
  display: flex;
  position: relative;
}
.passwordinput {
  width: 100%;
}
.passwordShowIcon {
  position: absolute;
  margin-top: 1rem;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
  right: 1rem;
  top: -4px;
}
.passwordShowIcon:hover {
  font-size: 1.23rem;
  transition: 0.5s;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoImageContainer > img {
  width: 150px;
}
.buttonContainer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button {
  height: 100%;
  width: 100%;
  background-color: #ff8800;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 10px;
  border: 1px solid #000000;
  transition: 0.2s ease-in-out;
}
.button:hover {
  box-shadow: 1px 1px 4px black;
}
.uppercontainer {
  margin-top: 1rem;
  width: 80vw;
  display: flex;
  text-align: center;
}
.headingtextinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.infoHeader {
  width: 70%;
  font-size: 2rem;
}
.form2 > div{
  margin: .4rem 0;
}
@media screen and (max-width: 768px) {
  .largetext > h2 {
    padding-top: 0;
    font-size: 1.1rem;
  }
  .smalltext > h2 {
    font-size: 1rem;
  }
  .mainContainer > h2 {
    font-size: 1.4rem;
    width: 95%;
  }
  .container {
    flex-direction: column;
  }
  .imageContainer > img {
    width: 90%;
  }
  .buttonContainer {
    flex-direction: column;
    width: 100%;
  }
  .buttonContainer > div {
    width: 90%;
  }
  .bottomtextandnextbtn {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
  .bottomtextandnextbtn .checkboxtext {
    width: 98vw;
  }
  .bottomtextandnextbtn .textholder {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer > img {
    width: 90%;
  }
  .container {
    flex-direction: column;
  }
}

/**********************/
.whatsapp {
  display: flex;
}

/*******for add product***********/
.doubleinput {
  display: flex;
  gap: 0.2rem;
}
.doubleinput > input {
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 0.9rem;
  outline: none;
  border: 0px;
  border-bottom: #ff8800 2px solid;
  color: #3e3d3d;
  padding: 1.1rem 0rem;
}
.inputssizescontainer {
  margin-top: 0.2rem;
}

/*************mobile responsive****************/
@media screen and (max-width: 768px) {
  .formholder {
    width: 100vw;
  }
  .sliceimageholder {
    display: none;
  }
  .largetext > h2 {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
  .smalltext {
    font-size: 1rem;
    margin-top: 0.4rem;
  }
  .formholder label {
    font-weight: 600;
    font-size: 0.9rem;
  }
  .singleinput {
    width: 95%;
    margin: auto;
  }
  .double {
    flex-direction: column;
  }
  .double > div {
    width: 100%;
  }
  .whatsapp {
    width: 95%;
    display: grid;
    grid-template-columns: 15% 85%;
  }
  .countrycode {
    width: 100%;
  }
  .number {
    width: 100%;
  }
  .bottomtextandnextbtn {
    width: 95%;
    margin: auto;
  }
  .checkbox {
    width: 1.2rem;
    height: 1.2rem;
  }
  .checkbox:checked {
    background-color: #ff8800;
  }
  .number > label {
    margin-left: -18%;
  }
  .checkboxtext {
    width: 100%;
  }
  .textholder {
    width: 100%;
  }
  .uppercontainer {
    width: 100vw;
    flex-direction: column;
  }
  .infoImageContainer > img {
    width: 130px;
  }
  .headingtextinfo {
    margin-left: 0rem;
  }
  .infoHeader {
    width: 100%;
    font-size: 1.4rem;
  }
  .button {
    height: 30%;
    width: 30%;
  }

  .form2 label{
    font-weight: 600;
    font-size: .92rem;
  }
  .form2 input::placeholder{
    font-size: .8rem;
  }
}
