.toptext {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.largetext > h2 {
  width: 80%;
  margin: auto;
  text-align: center;
}
.returndiv{
  display: flex;
  padding-left: 12rem;
  margin: .5rem 0;
}
.returndiv button{
  font-size: 1.1rem;
  padding: .1rem 2rem;
  background-color: inherit;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
}
.formimageholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.paymentholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.boardandimageholder {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.paymentholder img {
  height: 1rem;
}
.amountdetail {
  border: 1px solid black;
  box-shadow: 1px 1px 4px black;
}
.tauko {
  background-color: #fe8b00;
  padding: 0.6rem 5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
  font-size: 1.4rem;
  font-weight: 600;
}
.sarir {
  padding: 4rem 0 0 0;
}
.sarir > div {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
}
.textandiconholder {
  display: flex;
  flex-direction: column;
}
.uppersection {
  display: flex;
  /* justify-content: center; */
  gap: 0.6rem;
  align-items: center;
  text-align: start;
}
.uppersection img {
  height: 2rem;
}
.lowersection p {
  font-size: .8rem;
  text-align: start;
}
.checkbox {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #3e3d3d;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox:checked {
  background-color: #ff8800;
}
.cardimage img{
  height: 15rem;
}
.formimageholder{
  width: 100vw;
  display: flex;
  gap: 2rem;
}
.formimageholder form{
  width: 55%;
}
.heading{
  margin: 1rem 0;
}
.submitbtnholder{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.inputs {
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 0.9rem;
  border-radius: 15px;
  border: #ff8800 2px solid;
  color: #3e3d3d;
  padding: 1.1rem;
}
/*************mobile responsive****************/
@media screen and (max-width: 768px) {
  .toptext {
    width: 98vw;
    margin: .5rem 0;
    font-size: .9rem;
  }
  .largetext > h2 {
    width: 100%;
  }
  .returndiv{
    padding-left: .5rem;
    margin: .5rem 0;
  }
  .returndiv button{
    font-size: 1rem;
    padding: .1rem .4rem;
  }
  .formimageholder form{
    width: 100%;
  }
  .formholder {
    width: 100%;
  }
}